* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    color: #222;
    line-height: 1.6;
}

/* HERO */
.hero {
    background: #0f172a;
    color: #ffffff;
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 2.5rem;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    opacity: 0.9;
}

.location {
    margin-top: 5px;
    font-size: 0.95rem;
    opacity: 0.7;
}

/* SECTIONS */
.section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

.section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #0f172a;
}

.gray {
    background-color: #f4f4f5;
}

/* SKILLS */
.skills {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.skills ul {
    list-style: none;
}

.skills li {
    margin-bottom: 10px;
}

/* PROJECTS */
.project {
    margin-bottom: 30px;
}

.project h3 {
    color: #1e293b;
    margin-bottom: 5px;
}

.tags {
    font-size: 0.9rem;
    color: #555;
}

/* CERTIFICATIONS */
.certs {
    list-style: square;
    padding-left: 20px;
}

.certs li {
    margin-bottom: 8px;
}

/* FOOTER */
.footer {
    background: #0f172a;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}

.footer a {
    color: #38bdf8;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
  }
